.asideBlock {
  position: fixed;
  top: 85px;
  left: 1.5rem;
  width: 25rem;
  /* margin-bottom: 1.5rem; */
  margin: 1.5rem 0;
  display: flex;
  /* align-items: flex-start; */
  /* padding: var(--padding-element);
  border-radius: var(--border-rad-default);
  background: var(--white); */
}

.asideHeading {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-primary);
  font-family: "Roboto";
  line-height: 20px;
  padding-bottom: 1.25rem;
}

.asideInner {
  height: 862px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
