.basketWrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.basketTotal {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.basketText {
  color: var(--text-primary);
  font-size: 1.25rem;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 20px;
}

.ticketsWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
}
