@import-normalize;
:root {
  --gray-1: #333333;
  --background-muted: #F5F5F5;
  --background-primary: #FFFFFF;
  --white: #FFFFFF;
  --text-primary: #1b1f23;
  --orange: #ff5500;
  --orange-disabled: #ffa375;

  --padding-default: 1.5rem 2rem;

  --border-rad-default: 8px;
}

* {
  box-sizing: border-box;

  padding: 0;

  margin: 0;
}

html,
body {
  max-width: 100vw;

  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;

  text-decoration: none;
}

.d-none {
  display: none;
}
